.App {
  text-align: center;
}
.header {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  position: relative;
  z-index: 2;
}
.card_div {
  display: flex;
  flex-wrap: wrap;
  width: 67%;
  margin-left: 33%;
}
.card {
  height: 220px;
  width: 600px;
  background: rgb(60, 62, 68);
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
body {
  height: calc(100vh - 100px);
  width: 100vw;
}
.header_nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  min-height: 60px;
  padding: 0px 1.5rem;
  background: linear-gradient(109.6deg, #000000 32.4%, #3f728b 98.8%);
}
.header_a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.logo {
  height: 50px;
  width: 50px;
}
.header_ul {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.header_li_link {
  text-decoration: none;
  color: white;
  margin-right: 25px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 135%;
}
.header_li_link:hover {
  border-bottom: 3px solid #29a8c7;
  color: #29a8c7;
  transition: 0.2s;
  font-size: 35px;
}
.header_li_link_contacts {
  text-decoration: none;
  color: white;
  margin-left: 55px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 135%;
  border: 2px solid #558e9e;
  padding: 7.5px 15px;
  border-radius: 10px;
}
.header_li_link_contacts:hover {
  background-color: #558e9e;
  transition: 0.7s;
}
.ric_picture {
  height: calc(100vh - 60px);
  width: 32%;
}
.ric_and_mortie_picture {
  height: calc(100vh - 60px);
  width: 32%;
}
.main_text_span {
  display: flex;
  font-weight: 400;
  font-size: 100px;
  line-height: 135%;
  font-family: "Bruno Ace SC", cursive;
  height: calc(100vh - 60px);
  width: 32%;
  align-items: center;
  color: #8a99ef;
  text-shadow: 5px 5px #d4e3f7;
}
.main {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to top,
    rgb(9, 32, 63) 0%,
    rgb(83, 120, 149) 100%
  );
}
.characters {
  overflow: visible;
  background: rgb(39, 43, 51);
  height: 100wh;
  display: flex;
}
::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}
.card_photo_characters_div {
  display: flex;
}
.card_photo_characters {
  height: 220px;
  width: 220px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.rick_characters_picture {
  height: calc(100vh - 60px);
  width: 33%;
  position: fixed;
}
.card_name_character {
  color: white;
  font-family: "Pangolin", cursive;
  font-weight: 900;
  font-size: 25px;
  line-height: 135%;
  padding-left: 20px;
  margin-top: 10px;
}
.card_status_species {
  color: white;
  font-family: "Pangolin", cursive;
  font-weight: 200;
  font-size: 20px;
  line-height: 135%;
  padding-left: 5px;
}
.span_status_alive {
  height: 0.7rem;
  width: 0.7rem;
  margin-right: 0.375rem;
  background: rgb(85, 204, 68);
  border-radius: 50%;
  margin-left: 20px;
}
.span_status_dead {
  height: 0.7rem;
  width: 0.7rem;
  margin-right: 0.375rem;
  background: rgb(173, 18, 18);
  border-radius: 50%;
  margin-left: 20px;
}
.span_status_unknown {
  height: 0.7rem;
  width: 0.7rem;
  margin-right: 0.375rem;
  background: rgb(255, 123, 0);
  border-radius: 50%;
  margin-left: 20px;
}
.div_status {
  display: flex;
  align-items: center;
}
.card_info {
  width: 100%;
}
